.archiveContainer{
   display: flex;
   flex-direction: column;
   height: auto;
   font-size: 85%;
}

.archiveTitleContainer{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.archiveTitleContainer{
    width: 100%;
}

.columsContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

.columContainer{
    text-align: left;
    width: 100%;
}

.columTitleContainer{
    padding-bottom: 0.5rem;
}

.columListContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    
}


.titleListContainer{
    padding-bottom: 0.3rem;
}

.dateArchiveList{
    padding-left: 0.5rem;
}

.separationArchiveList{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* image hover */

.container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .image {
    position: absolute;
    top: 0;
    left: 6rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
    width: 150%;
  }
  
  .container:hover .image {
    opacity: 1;
  }

@media only screen and (max-width: 600px) {
   
    .columsContainer{
        flex-direction: column;
    }

    .extraSpaceTopMobile{
        padding-top: 1rem;
    }

}
