.navbarContainer {
    width: 100%;
    text-align: right;
    font-size:  100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.aboutButton{
    cursor: pointer;
}

.navbarLeft {
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .lenguajeContainer {
        font-size:  90%;
    }

    .clock{
        display: none;
    }
    .aboutButton{
        transform: rotate(0deg);
    }
    
}